/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 	#section #title{
 		text-align: center;
 	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  	

  	#section #title h1{
 
  		font-size: 25px;
  	}

  	#section #left{
  		
  		width: 100%;
  	
  	}


  	#section #right{
  		
  		width: 100%;
  		
  	}
  
}